/glass_code/bin
/glass_code/libs
/glass_code/obj
*.dll
Debug
kinectproj.sdf
kinectproj.sln
kinectproj.sln
*.jpg
.DS_Store
.settings
.externalToolBuilders
gen/
res/
*.png
proguard-project.txt
lint.xml
photog/
*.mk
kinectproj.v12.suo
print.txt
print2.txt
kinectproj.vcxproj.user
kinectproj.vcxproj.filters
kinectproj.vcxproj
cloudPoints.txt
Kinect3Dbuckup/