/glass_code/bin
/glass_code/libs
/glass_code/obj
*.dll
Debug
kinectproj.sdf
kinectproj.sln
kinectproj.sln
*.jpg
.DS_Store
.settings
.externalToolBuilders
*.png
proguard-project.txt
lint.xml
photog/
kinectproj.v12.suo
print.txt
print2.txt
cloudPoints.txt
Kinect3Dbuckup/